@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Montserrat:wght@100..900&family=Nunito:wght@200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

/* Corpo da página */
body {
  @apply text-base leading-relaxed;
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Nunito', sans-serif; /* Adicione 'sans-serif' para fallback */
}

/* Ajustes extras, se necessário */
img {
  max-width: 100%;
  border-radius: 0; /* Remove estilos globais conflitantes */
}

button, input {
  @apply rounded; /* Bordas arredondadas globais, se necessário */
}
